-#  Copyright (c) 2019, Pfadibewegung Schweiz. This file is part of
-#  hitobito_pbs and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_pbs.

- title t('.title')
%p= t('.description_html')

%h2= t('.power_users.title')
%p= t('.power_users.description')

%table.table.table-striped
  %tbody
    - @groups_and_power_users.each do |group, power_users|
      %tr
        %td
          %strong= link_to group.name, group
        %td
          - if power_users.count > 0
            - power_users.each do |power_user|
              %p= link_to power_user.to_s(:list), "mailto:#{power_user.email}"
          - else
            = t('.power_users.none_found')

%h2= t('.guides.title')
%p= t('.guides.description')

%table.table.table-striped
  %tbody
    - %w(hering coaches ticket anker pilot).each do |help_key|
      %tr
        %td
          %strong= link_to t(".guides.#{help_key}.title"), t(".guides.#{help_key}.url"), target: '_blank'
        %td
          = t(".guides.#{help_key}.description")
