-#  Copyright (c) 2013-2014, Pfadibewegung Schweiz. This file is part of
-#  hitobito_pbs and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_pbs.

- title t('.title', year: @year)

= crud_form(@member_count,
            url: group_member_counts_path(@group),
            cancel_url: census_abteilung_group_path(@group, year: @year),
            buttons_bottom: true,
            method: :put) do |f|
  - MemberCount::COUNT_CATEGORIES.each do |col|
    = f.labeled(col) do
      = f.input_field "#{col}_f", class: 'span1'
      = f.help_inline t('global.gender.female_short')
      &nbsp;
      &nbsp;
      &nbsp;
      = f.input_field "#{col}_m", class: 'span1'
      = f.help_inline t('global.gender.male_short')
