-#  Copyright (c) 2012-2021, Pfadibewegung Schweiz. This file is part of
-#  hitobito_pbs and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_pbs.

= render_attrs(entry, :pbs_number, :salutation, :correspondence_language,
                      :grade_of_school)

%dl.dl-horizontal
  - sibling_context = parent.try(:layer_group) || parent
  - siblings_in_context = entry.siblings_in_context(sibling_context)
  = labeled(t('people.fields_pbs.siblings_in_context', context: sibling_context)) do
    - if siblings_in_context.any?
      = t('global.yes')
      = simple_list(siblings_in_context, class: 'unstyled mb-0') do |sibling_role|
        -  assoc_link(sibling_role.person)
    - else
      = t('global.no')

= render_attrs(entry, :entry_date, :leaving_date)
