- # encoding: utf-8
- #  Copyright (c) 2012-2015, Pfadibewegung Schweiz. This file is part of
- #  hitobito_pbs and licensed under the Affero General Public License version 3
- #  or later. See the COPYING file at the top-level directory or at
- #  https://github.com/hitobito/hitobito_pbs.

- if show_application_approval?(entry) && @approvals.present?
  = section(t('.title')) do
    - @approvals.each do |approval|
      .separated
        .separated-header
          = format_attr(approval, :status)
          - if approval.status
            = safe_join([format_attr(approval, :approver), ','])
            = f(approval.approved_at.try(:to_date))
          - else
            = format_attr(approval, :approver)
        - if approval.status
          - [:current_occupation, :current_level, :occupation_assessment,
             :strong_points, :weak_points, :comment].each do |attr|
            %div
              %strong.muted= safe_join([Event::Approval.human_attribute_name(attr), ':'])
              = approval.send(attr)
