-#  Copyright (c) 2012-2015, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

.well
  %dl.dl-horizontal
    = labeled_attr(entry, :dates_full)
    - entry.used?(:motto) do
      = labeled_attr(entry, :motto)
    - entry.used?(:cost) do
      = labeled_attr(entry, :cost)

  %dl.dl-horizontal
    - entry.used?(:kind_id) do
      = labeled_attr(entry, :kind_id)
      = render_extensions :kind, folder: 'events'

    = render_extensions :attrs_main

    - entry.used?(:number) do
      = labeled_attr(entry, :number)

    - unless entry.is_a?(Event::Camp) && !can?(:show_details, entry)
      = labeled(t('event.run_by'), entry.group_names)

    - entry.used?(:state) do
      = labeled_attr(entry, :state_translated)

  = render_present_attrs(entry, :description)

  - unless entry.is_a?(Event::Camp) && !can?(:show_details, entry)
    = render_present_attrs(entry, :location)
    - if entry.location.present?
      %dl.dl-horizontal.dl-borderless
        %dd
          %iframe{ name: 'map', src: "https://map.geo.admin.ch/embed.html?swisssearch=#{entry.location.gsub(/\n/, ', ')} limit:1", width: '100%', height: '300' }

  = render_extensions :attrs_primary, folder: 'events'

  = render 'attachments'
  
  - unless entry.is_a?(Event::Camp) && !can?(:show_details, entry)
    - if entry.location.present?
      %iframe{:align => "center", :name => "map", :src => "https://map.geo.admin.ch/embed.html?swisssearch=#{(entry.location).gsub(/\n/, ', ')} limit:1", :height => "300px;", :width => "90%"}
      
