- entry.used?(:expected_participants_wolf_f) do
  = f.labeled(:expected_participants, t('activerecord.attributes.event.expected_participants'), nil, class: 'controls-row') do
    %div.row
      %p.span1
      %p.span1
        = t('activerecord.attributes.event.expected_participants_wolf')
      %p.span1
        = t('activerecord.attributes.event.expected_participants_pfadi')
      %p.span1
        = t('activerecord.attributes.event.expected_participants_pio')
      %p.span1
        = t('activerecord.attributes.event.expected_participants_rover')
      %p.span1
        = t('activerecord.attributes.event.expected_participants_leitung')
    %div.row
      %p.span1 F
      = f.string_field(:expected_participants_wolf_f, class: 'span1', maxlength: 4)
      = f.string_field(:expected_participants_pfadi_f, class: 'span1', maxlength: 4)
      = f.string_field(:expected_participants_pio_f, class: 'span1', maxlength: 4)
      = f.string_field(:expected_participants_rover_f, class: 'span1', maxlength: 4)
      = f.string_field(:expected_participants_leitung_f, class: 'span1', maxlength: 4)
    %div.row
      %p.span1 M
      = f.string_field(:expected_participants_wolf_m, class: 'span1', maxlength: 4)
      = f.string_field(:expected_participants_pfadi_m, class: 'span1', maxlength: 4)
      = f.string_field(:expected_participants_pio_m, class: 'span1', maxlength: 4)
      = f.string_field(:expected_participants_rover_m, class: 'span1', maxlength: 4)
      = f.string_field(:expected_participants_leitung_m, class: 'span1', maxlength: 4)
    %div.row
      %div.span12
        .help-block= t('activerecord.attributes.event.expected_participants_help_inline')
