-#  Copyright (c) 2012-2015, Pfadibewegung Schweiz. This file is part of
-#  hitobito_pbs and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_pbs.

- entry.used?(:advisor_id) do
  = f.labeled_person_field :advisor

- entry.used?(:language_de) do
  = f.labeled(:course_languages) do
    - Event::Course::LANGUAGES.each do |lang|
      = f.boolean_field("language_#{lang}".to_sym, caption: t(".language_#{lang}"))

- if can?(:modify_superior, entry)
  - entry.used?(:express_fee) do
    = f.labeled_text_area :express_fee

- entry.used?(:j_s_kind) do
  = f.labeled(:j_s_kind) do
    = f.inline_radio_button(:j_s_kind, '', t('.j_s_kind_none'))
    - Event::Camp::J_S_KINDS.each do |kind|
      = f.inline_radio_button(:j_s_kind, kind, t(".j_s_kind_#{kind}"))

- j_s_security_attrs = entry.used_attributes(:j_s_security_snow,
                                             :j_s_security_mountain,
                                             :j_s_security_water)
- if j_s_security_attrs.present?
  = f.labeled(:j_s_security) do
    - j_s_security_attrs.each do |attr|
      = f.label(attr, class: 'checkbox inline') do
        = f.check_box(attr)
        = Event.human_attribute_name(attr)

= render 'expected_participants_fields', f: f
