-#  Copyright (c) 2012-2015, Pfadibewegung Schweiz. This file is part of
-#  hitobito_pbs and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_pbs.

- title @group.to_s

- content_for(:filter, FilterNavigation::People.new(self, @group, params[:name], params[:role_type_ids], params[:kind]))

#main
  .pagination-bar
    = paginate @people

    .pagination-info
      - if @all_count > 0
        = t('people.list.number_of_people_shown', count: @people.total_count)
        - unless @all_count == @people.total_count
          = muted(t('people.list.number_of_people_hidden', count: @all_count - @people.total_count))
      - else
        = ti(:no_list_entries)

  - if @people.total_count > 0
    = table(@people, class: 'table table-striped') do |t|
      - t.col(Person.model_name.human) { |person| link_to(person, [@group, person]) }
      - t.col(Qualification.model_name.human(count: 2)) { |person| joined_qualification_kind_labels(person) }
      - t.col(Event::Application.model_name.human(count: 2)) { |person| joined_event_participations(person) }

= paginate @people
