= field_set_tag Role.human_attribute_name(:dates) do
  = f.labeled(:created_at) do
    = f.date_field(:created_at, class: 'date span6', value: f(@role.created_at.try(:to_date)))

  = f.labeled(:deleted_at) do
    = f.date_field(:deleted_at, class: 'date span6', value: f(@role.deleted_at.try(:to_date)))

= field_set_tag t('.notification') do
  %p= t('.notification_hint')
