#supercamps-available.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %h5.bold.modal-title
          %b= t('.select_supercamp')
      .modal-body

        - if @supercamps_on_group_and_above.count > 0
          = field_set_tag t('.from_group_and_above') do
            - @supercamps_on_group_and_above.each do |supercamp|
              = label_tag('supercamp_id_' + supercamp.id.to_s) do
                = radio_button_tag(:supercamp_id, supercamp.id)
                = format_camp_name_with_groups(supercamp)

      .modal-footer
        .btn-group
          = button_tag t('.submit'), id: 'supercamps-available-submit', class: 'btn btn-primary'
        = link_to(ti('button.cancel'), '#',
          class: 'link cancel',
          onclick: "event.preventDefault(); $('#supercamps-available').modal('hide')")

