-#  Copyright (c) 2012-2014, Pfadibewegung Schweiz. This file is part of
-#  hitobito_pbs and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_pbs.

= render layout: 'table_header',
         locals: { before_columns: [''], after_columns: ['Total', '']} do
  - @sub_groups.each do |g|
    %tr
      %td= link_to(g.to_s, census_evaluation_path(g, year: @year))
      - MemberCount::COUNT_COLUMNS.each do |col|
        %td.right= count_field(g, col)
      %td.right= count_field(g, :total)
      %td.right= render 'total_actions', group: g
  = render 'total_row'
